<!-- ベーステンプレートを適用 -->
{% extends 'base.html' %}
<!--
  静的ファイルのURLを生成するstaticは
  個々のページで読み込むことが必要
-->
{% load static %}
<!-- ヘッダー情報のページタイトルは
    ベーステンプレートを利用するページで設定する -->
{% block title %}WataのBloG - Dailylife{% endblock %}
<!-- Navigation -->
<!-- Navigationはベーステンプレートで設定済みなので削除 -->
    
    <!-- Page Header-->
    <!-- ページのヘッダーはベーステンプレートを利用するページで設定する -->
    {% block header %}
    <!-- ページのヘッダーを設定(ドキュメントの構造に合わせてインデント) -->
    <!-- ヘッダーの背景イメージのリンク先url()の引数をstaticタグに書き換え -->
    <header class="masthead"
            style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <!-- ヘッダーの大見出し(タイトル)を変更 -->
                        <h1>WataのBloG</h1>
                        <!-- サブタイトルを変更 -->
                        <span class="subheading">Dailylifeカテゴリの記事一覧</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    <!-- Main Content-->
    {% block contents %}
    <!-- ページのコンテンツを設定(ドキュメントの構造に合わせてインデント) -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
             <!--
                 dailylifeカテゴリのレコードが格納されたmusic_recordsから
                 レコードを1行ずつrecordに取り出す
             -->
            {% for record in dailylife_records %}
            <div class="post-preview">
                <!--
                    urlでURLパターン'blog-detail/<int:pk>/'を生成し、
                    詳細ページへのリンクを設定
                -->
                <a href="{% url 'blog:blog_detail' record.pk %}">
                    <!-- 記事のタイトル -->
                    <h2 class="post-title">
                        <!-- titleフィールドを出力 -->
                        {{record.title}}
                    <h3 class="post-subtitle">
                        <!-- サブタイトルを文字サイズを16ptにする -->
                        <span style="font-size : 16pt">
                            <!--
                                contentフィールドを出力
                                truncatecharsで出力する文字数を50以内に制限
                            -->
                            {{record.content|truncatechars:50}}
                        </span>
                    </h3>
                </a>
                <!-- 投稿日時とカテゴリ -->
                <p class="post-meta">
                    <!-- ページ最上部にリンクする -->
                    <a href="#">WataのBloG</a>
                    <!-- posted_atフィールドを出力 -->
                    {{record.posted_at}}に投稿/カテゴリ:
                    <!-- categoryフィールドを出力 -->
                    {{record.category}}</p>
            </div>
            <hr class="my-4" />
            {% endfor %}
            <!-- forによる繰り返しはここまで -->

            <!--
                デフォルトで設定されている
                <div class="post-preview">~</div><hr>
                のブロック3個を削除
            -->
            <!-- ページネーションの組み込み -->
            {% include "pagination.html" %}
            </div>
        </div>
    </div>
</div>
<!-- Deiver -->
<hr class="my-4" />
{% endblock %}

<!-- footer -->
<!-- フッター以下はベーステンプレートで設定済みなので削除 -->


